<app-menu-title></app-menu-title>
<div class="container__articles">
    <div class="articles__main">

        <app-big-card
        id="1"
        photocover="https://i.pinimg.com/1200x/48/51/d0/4851d00d687ab2582185de57908f8206.jpg"
        cardtitle="luffy irá despertar uma nova forma"
        carddescription="luffy vai despertar a 5 marcha? nos proximos episodios podemos ver o desapertar da fruta gomu-gomu no mi"
        ></app-big-card>

    </div>
    <div class="articles__others">
        <app-small-card
        id="2"
        photocover="https://pbs.twimg.com/media/FM9WI4EX0AUgSed.jpg"
        cardtitle="luffy na verduxa?"
        >
        </app-small-card>
        <app-small-card
        id="3"
        photocover="https://w0.peakpx.com/wallpaper/229/806/HD-wallpaper-one-piece-gear-5-one-piece-monkey-d-luffy-thumbnail.jpg"
        cardtitle="luffy  gear five"
        >
        </app-small-card>
        <app-small-card
        id="4"
        photocover="https://e1.pxfuel.com/desktop-wallpaper/366/271/desktop-wallpaper-one-piece-icons-%E2%9E%BA-roronoa-zoro-thumbnail.jpg"
        cardtitle="zoro haki do rei?"
        >
        </app-small-card>
        

    </div>
    
</div>
