<div class="container_big-card">
    <div class="big-card_photo">
        <img src="https://img.freepik.com/fotos-premium/jesus-christ-as-programmer-of-life-cool-illustration-comic-style_67778-154.jpg?w=2000"
         alt="" 
         srcset=""
         >
      
    </div>
    <div class="big-card__title">
      <h1><a href="#">jesus programmer</a></h1>
    </div>
    <div class="big-card__description">
    <p>
        <a href="#">
        ¿Por qué los programadores siempre confunden la Navidad con Halloween?
        
        Porque oct 31 == dec 25.
        </a>
    </p>
    
    </div>
</div>
